SAUNAFS_MASTER_HOST=sfsmaster
SAUNAFS_MASTER_PORT=9421
SAUNAFS_MONITORING_HOST=0.0.0.0
SAUNAFS_MONITORING_PORT=8000
SAUNAFS_MONITORING_LOGLEVEL=INFO
SAUNAFS_API_HOST=0.0.0.0
SAUNAFS_API_PORT=8001
SAUNAFS_API_LOGLEVEL=INFO
