<!-- Disks Table -->
{% if disks %}
<table class="FR sortable" cellspacing="0" caption="Disks">
        <thead>
                <tr><th colspan="8">Disks</th></tr>
                <tr>
                        <th>#</th>
                        <th>Path</th>
                        <th>Status</th>
                        <th>Last Error</th>
                        <th>Chunks</th>
                        <th>Used Space</th>
                        <th>Total Space</th>
                        <th class="PROGBAR">% Used</th>
                </tr>
        </thead>
        <tbody>
                {% for disk in disks %}
                <tr class="C{{ loop.index % 2 + 1 }}">
                        <td align="right">{{ loop.index }}</td>
                        <td align="left">{{ disk.path }}</td>
                        <td align="right">{{ disk.status }}</td>
                        <td align="right">{{ disk.last_error }}</td>
                        <td align="right">{{ disk.chunks }}</td>
                        <td align="right">{{ disk.used_space | humanize_bytes }}</td>
                        <td align="right">{{ disk.total_space | humanize_bytes }}</td>
                        <td>
                                <div class="box">
                                        <div class="progress"
                                                style="width:
                                        {{ (disk.used_space / disk.total_space * 200) if disk.total_space > 0 else 0 }}px;">
                                        </div>
                                        <div class="value">
                                        {{ "%.2f"|format((disk.used_space / disk.total_space * 100) if disk.total_space > 0 else 0) }}
                                        </div>
                                </div>
                        </td>
                </tr>
                {% endfor %}
        </tbody>
</table>
{% endif %}

