<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>SaunaFS Info ({{ mastername }})</title>
		<link href="/static/favicon.ico" rel="icon" sizes="any" />
		<link href="/static/favicon.svg" rel="icon" type="image/svg+xml" />
		<link rel="stylesheet" href="/static/sfs-modern.css" type="text/css" />
		<script src="/static/papaparse.min.js"></script>
		<script src="/static/chart.umd.js"></script>
		<script src="/static/date-fns.min.js"></script>
		<script src="/static/chartjs-adapter-date-fns.bundle.min.js"></script>
	</head>
	<body>
		<header id="header">
		<div class="logo">
			<a href="sfs.cgi?sections=IN">
				<img src="/static/logomini.svg" alt="logo" width="110" height="38" />
			</a>
		</div>

		<nav class="menu">
			<a class="button" href="sfs.cgi?sections=IN">Info</a>
			<a class="button" href="sfs.cgi?sections=CH">Chunks</a>
			<a class="button" href="sfs.cgi?sections=CS">Servers</a>
			<a class="button" href="sfs.cgi?sections=HD">Disks</a>
			<a class="button" href="sfs.cgi?sections=EX">Config</a>
			<a class="button" href="sfs.cgi?sections=MS">Mounts</a>
			<a class="button" href="sfs.cgi?sections=MC">Master Charts</a>
			<a class="button" href="sfs.cgi?sections=CC">Server Charts</a>
		</nav>

		<div class="filler"></div>
	</header>
		</div>
		<div id="container">
			{% if error_message %}
				<h1 align="center">{{ error_message }}</h1>
				<h2 align="center">Please enter alternative master address:
					<input type="text" id="masterhost" value="sfsmaster" size="32" />
					<input type="number" id="masterport" size="6" value="9421" />
					<input type="button" value="Go" onclick="window.location='/sfs.cgi?masterhost=' + document.getElementById('masterhost').value + '&masterport=' + document.getElementById('masterport').value" />
				</h2>
			{% else %}
				<!-- Info Table -->
				{% if info %}
				<table class="FR" cellspacing="0" caption="Info table">
					<thead>
						<tr>
							<th colspan="15">Info</th>
						</tr>
						<tr>
							<th>Version</th>
							<th>RAM Used</th>
							<th>Total Space</th>
							<th>Avail Space</th>
							<th>Trash Space</th>
							<th>Trash Files</th>
							<th>Reserved Space</th>
							<th>Reserved Files</th>
							<th>Total Objects</th>
							<th>Directories</th>
							<th>Files</th>
							<th>Symlinks</th>
							<th>Chunks</th>
							<th>All Copies</th>
							<th>Regular Copies</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="center">{{ info.version }}</td>
							<td align="right">{{ info.ram_used | humanize_bytes }}</td>
							<td align="right">{{ info.total_space | humanize_bytes }}</td>
							<td align="right">{{ info.avail_space | humanize_bytes }}</td>
							<td align="right">{{ info.trash_space | humanize_bytes }}</td>
							<td align="right">{{ info.trash_files }}</td>
							<td align="right">{{ info.reserved_space | humanize_bytes }}</td>
							<td align="right">{{ info.reserved_files }}</td>
							<td align="right">{{ info.total_objects }}</td>
							<td align="right">{{ info.directories }}</td>
							<td align="right">{{ info.files }}</td>
							<td align="right">{{ info.symlinks }}</td>
							<td align="right">{{ info.chunks }}</td>
							<td align="right">{{ info.all_copies }}</td>
							<td align="right">{{ info.regular_copies }}</td>
						</tr>
					</tbody>
				</table>
				<br/>
				{% endif %}

				<!-- Chunk Operations Info Table -->
				{% if chunk_operations_info and chunk_operations_info.loop_start > 0 %}
				<table class="FR" cellspacing="0" caption="Chunk Operations Info">
					<thead>
						<tr><th colspan="8">Chunk Operations Info</th></tr>
						<tr>
							<th colspan="2">Loop Time</th>
							<th colspan="4">Deletions</th>
							<th colspan="2">Replications</th>
						</tr>
						<tr>
							<th>Start</th>
							<th>End</th>
							<th>Invalid</th>
							<th>Unused</th>
							<th>Disk Clean</th>
							<th>Over Goal</th>
							<th>Under Goal</th>
							<th>Rebalance</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="center">{{ chunk_operations_info.loop_start | format_timestamp }}</td>
							<td align="center">{{ chunk_operations_info.loop_end | format_timestamp }}</td>
							<td align="right">{{ chunk_operations_info.delete_invalid }}/{{ chunk_operations_info.delete_invalid + chunk_operations_info.not_delete_invalid }}</td>
							<td align="right">{{ chunk_operations_info.delete_unused }}/{{ chunk_operations_info.delete_unused + chunk_operations_info.not_delete_unused }}</td>
							<td align="right">{{ chunk_operations_info.delete_disk_clean }}/{{ chunk_operations_info.delete_disk_clean + chunk_operations_info.not_delete_disk_clean }}</td>
							<td align="right">{{ chunk_operations_info.delete_over_goal }}/{{ chunk_operations_info.delete_over_goal + chunk_operations_info.not_delete_over_goal }}</td>
							<td align="right">{{ chunk_operations_info.replicate_under_goal }}/{{ chunk_operations_info.replicate_under_goal + chunk_operations_info.not_replicate_under_goal }}</td>
							<td align="right">{{ chunk_operations_info.rebalance }}</td>
						</tr>
					</tbody>
				</table>
				<br/>
				{% endif %}

				<!-- Chunk Matrix Table -->
				{% if chunk_matrix %}
				<table class="FR" cellspacing="0" caption="Chunks state matrix">
					<tr><th colspan="13">All chunks state matrix </th></tr>
					<tr>
						<th rowspan="2" class="PERC4">needed<br/>copies</th>
						<th colspan="12" class="PERC96">valid copies (non-XOR chunks only)</th>
					</tr>
					<tr>
						<th class="PERC8">0</th>
						<th class="PERC8">1</th>
						<th class="PERC8">2</th>
						<th class="PERC8">3</th>
						<th class="PERC8">4</th>
						<th class="PERC8">5</th>
						<th class="PERC8">6</th>
						<th class="PERC8">7</th>
						<th class="PERC8">8</th>
						<th class="PERC8">9</th>
						<th class="PERC8">10+</th>
						<th class="PERC8">all</th>
					</tr>
					{% for i in range(11) %}
					<tr>
						<td align="center">{{ i if i < 10 else "10+" }}</td>
						{% for j in range(11) %}
						{% set value = chunk_matrix.matrix[i][j] %}
						{% if i == 0 %}
							{% if j == 0 %}
								{% set class = "DELETEREADY" %}
							{% else %}
								{% set class = "DELETEPENDING" %}
							{% endif %}
						{% elif j == 0 %}
							{% set class = "MISSING" %}
						{% elif j > i %}
							{% set class = "OVERGOAL" %}
						{% elif j < i %}
							{% if j == 1 %}
								{% set class = "ENDANGERED" %}
							{% else %}
								{% set class = "UNDERGOAL" %}
							{% endif %}
						{% else %}
							{% set class = "NORMAL" %}
						{% endif %}
						<td align="right"><span class="{{ class }}">{{ value if value > 0 else "-" }}</span></td>
						{% endfor %}
						<td align="right">{{ chunk_matrix.matrix[i] | sum }}</td>
					</tr>
					{% endfor %}
				</table>
				<br/>
				{% endif %}

				<!-- Filesystem Check Info Table -->
				{% if fs_check_info and fs_check_info.loop_start > 0 %}
				<table class="FR" cellspacing="0" caption="Filesystem Check Info">
					<tr><th colspan="8">Filesystem Check Info</th></tr>
					<tr>
						<th>Check Loop Start Time</th>
						<th>Check Loop End Time</th>
						<th>Files</th>
						<th>Under-Goal Files</th>
						<th>Missing Files</th>
						<th>Chunks</th>
						<th>Under-Goal Chunks</th>
						<th>Missing Chunks</th>
					</tr>
					<tr>
						<td align="center">{{ fs_check_info.loop_start | format_timestamp }}</td>
						<td align="center">{{ fs_check_info.loop_end | format_timestamp }}</td>
						<td align="right">{{ fs_check_info.files }}</td>
						<td align="right">{{ fs_check_info.under_goal_files }}</td>
						<td align="right">{{ fs_check_info.missing_files }}</td>
						<td align="right">{{ fs_check_info.chunks }}</td>
						<td align="right">{{ fs_check_info.under_goal_chunks }}</td>
						<td align="right">{{ fs_check_info.missing_chunks }}</td>
					</tr>
					{% if fs_check_info.message %}
					<tr>
						<th colspan="8">Important Messages</th>
					</tr>
					<tr>
						<td colspan="8" align="left"><pre>{{ fs_check_info.message }}</pre></td>
					</tr>
					{% endif %}
				</table>
				<br/>
				{% endif %}

				<!-- Filesystem Check Info Table -->
				{% if chunks_health %}
				<table class="FR" cellspacing="0" caption="Chunks Statistics">
					<tr>
						<th colspan="5">Chunk Statistics</th>
					</tr>
					<tr>
						<th>Goal</th>
						<th>Safe Chunks</th>
						<th>Endangered Chunks</th>
						<th>Missing Chunks</th>
						<th>All Chunks</th>
					</tr>
					{% for goal in goalmap %}
					{% if goal.total != 0 %}
					<tr class="CI">
						<th class="LEFT" align="center">{{goal.name}}</th>
						<td align="center">{{goal.safe}}</td>
						<td align="center">{{goal.endangered}}</td>
						<td align="center">{{goal.lost}}</td>
						<td align="center">{{goal.total}}</td>
					</tr>
					{% endif %}
					{% endfor %}
					<tr>
						<th>all</th>
						<th>{{goalmap | sum (attribute='safe')}}</th>
						<th>{{goalmap | sum (attribute='endangered')}}</th>
						<th>{{goalmap | sum (attribute='lost')}}</th>
						<th>{{goalmap | sum (attribute='total')}}</th>
					</tr>
				</table>
				<br/>
				<table class="FR" caption="Chunks which need replication">

					<tr>
						<th colspan="12">Chunks which need replication</th>
					</tr>
					<tr>
						<th>goal</th>
						<th class="PERC8">0 copies<br/>to replicate</th>
						<th class="PERC8">1 copy<br/>to replicate</th>
						<th class="PERC8">2 copies<br/>to replicate</th>
						<th class="PERC8">3 copies<br/>to replicate</th>
						<th class="PERC8">4 copies<br/>to replicate</th>
						<th class="PERC8">5 copies<br/>to replicate</th>
						<th class="PERC8">6 copies<br/>to replicate</th>
						<th class="PERC8">7 copies<br/>to replicate</th>
						<th class="PERC8">8 copies<br/>to replicate</th>
						<th class="PERC8">9 copies<br/>to replicate</th>
						<th class="PERC8">10+ copies<br/>to replicate</th>
					</tr>
					{% for goal in goalmap %}
					{% if goal.total != 0 %}
					<tr class="CI">
						<th class="LEFT">{{goal.name}}</th>
						{% for replicate in goal.replication %}
						<td align="center">{{replicate}}</td>
						{% endfor %}
					</tr>
					{% endif %}
					{% endfor %}
					<tr>
						<th>all</th>
					{% for sum in replication_sums %}
						<th>{{sum}}</th>
					{% endfor %}
					</tr>
				</table>
				<table class="FR" caption="Chunks which need deletion">

					<tr>
						<th colspan="12">Chunks which need deletion</th>
					</tr>
					<tr>
						<th>goal</th>
						<th class="PERC8">0 copies<br/>to delete</th>
						<th class="PERC8">1 copy<br/>to delete</th>
						<th class="PERC8">2 copies<br/>to delete</th>
						<th class="PERC8">3 copies<br/>to delete</th>
						<th class="PERC8">4 copies<br/>to delete</th>
						<th class="PERC8">5 copies<br/>to delete</th>
						<th class="PERC8">6 copies<br/>to delete</th>
						<th class="PERC8">7 copies<br/>to delete</th>
						<th class="PERC8">8 copies<br/>to delete</th>
						<th class="PERC8">9 copies<br/>to delete</th>
						<th class="PERC8">10+ copies<br/>to delete</th>
					</tr>
					{% for goal in goalmap %}
					{% if goal.total != 0 %}
					<tr class="CI">
						<th class="LEFT">{{goal.name}}</th>
						{% for delete in goal.deletion %}
						<td align="center">{{delete}}</td>
						{% endfor %}
					</tr>
					{% endif %}
					{% endfor %}
					<tr>
						<th>all</th>
					{% for sum in deletion_sums %}
						<th>{{sum}}</th>
					{% endfor %}
					</tr>
				</table>
				{% endif %}

				<!-- Chunk Servers Table -->
				{% if 'CS' in active_sections %}
				<table class="FR sortable" cellspacing="0" caption="Metadata Servers">
					<thead>
						<tr><th colspan="8">Metadata Servers</th></tr>
						<tr>
							<th>#</th>
							<th>Host</th>
							<th>IP</th>
							<th>Client Port</th>
							<th>Version</th>
							<th>Personality</th>
							<th>State</th>
							<th>Metadata Version</th>
						</tr>
					</thead>
					<tbody>
						{% for server in metadata_servers %}
						<tr class="C{{ loop.index % 2 + 1 }}">
							<td align="right">{{ server.id }}</td>
							<td align="left">{{ server.hostname }}</td>
							<td align="center">{{ server.ip_address }}</td>
							<td align="center">{{ server.port }}</td>
							<td align="center">{{ server.version }}</td>
							<td align="center">{{ server.personality }}</td>
							<td align="center">{{ server.state }}</td>
							<td align="right">{{ server.metadata_version }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<br/>
				<table class="FR sortable" cellspacing="0" caption="Chunk Servers">
					<thead>
						<tr><th colspan="14">Chunk Servers</th></tr>
						<tr>
							<th rowspan="2">#</th><th rowspan="2">Host</th><th rowspan="2">IP</th>
							<th rowspan="2">Port</th><th rowspan="2">Version</th><th rowspan="2">Label</th>
							<th colspan="4">'Regular' HDD Space</th><th colspan="4">'To Be Empty' HDD Space</th>
						</tr>
						<tr>
							<th>Chunks</th><th>Used</th><th>Total</th><th class="PROGBAR">% Used</th>
							<th>Chunks</th><th>Used</th><th>Total</th><th class="PROGBAR">% Used</th>
						</tr>
					</thead>
					<tbody>
						{% for server in servers %}
						<tr class="C{{ loop.index % 2 + 1 }}">
							{% if server.is_disconnected %}
								<td align="right"><span class="DISCONNECTED">{{ server.id }}</span></td>
								<td align="left" colspan="12"><span class="DISCONNECTED">{{ server.hostname }} is disconnected</span></td>
							{% else %}
								<td align="right">{{ server.id }}</td>
								<td align="left">{{ server.hostname }}</td>
								<td align="center">{{ server.ip_address }}</td>
								<td align="center">{{ server.port }}</td>
								<td align="center">{{ server.version }}</td>
								<td class="LEFT">{{ server.label }}</td>
								<td align="right">{{ server.chunks }}</td>
								<td align="right">{{ server.used_space | humanize_bytes }}</td>
								<td align="right">{{ server.total_space | humanize_bytes }}</td>
								<td>
									<div class="box">
										<div class="progress" style="width:{{ (server.used_space / server.total_space * 200) if server.total_space > 0 else 0 }}px;"></div>
										<div class="value">{{ "%.2f"|format((server.used_space / server.total_space * 100) if server.total_space > 0 else 0) }}</div>
									</div>
								</td>
								<td align="right">{{ server.chunks_tobedeleted }}</td>
								<td align="right">{{ server.used_space_tobedeleted | humanize_bytes }}</td>
								<td align="right">{{ server.total_space_tobedeleted | humanize_bytes }}</td>
								<td>
									 <div class="box">
										<div class="progress" style="width:{{ (server.used_space_tobedeleted / server.total_space_tobedeleted * 200) if server.total_space_tobedeleted > 0 else 0 }}px;"></div>
										<div class="value">{{ "%.2f"|format((server.used_space_tobedeleted / server.total_space_tobedeleted * 100) if server.total_space_tobedeleted > 0 else 0) }}</div>
									</div>
								</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<br/>

				<!-- Metaloggers Table -->
				{% if metaloggers %}
				<table class="FR sortable" cellspacing="0" caption="Metadata Backup Loggers">
					<thead>
						<tr><th colspan="4">Metadata Backup Loggers</th></tr>
						<tr>
							<th>#</th>
							<th>Host</th>
							<th>IP</th>
							<th>Version</th>
						</tr>
					</thead>
					<tbody>
						{% for logger in metaloggers %}
						<tr class="C{{ loop.index % 2 + 1 }}">
							<td align="right">{{ logger.id }}</td>
							<td align="left">{{ logger.hostname }}</td>
							<td align="center">{{ logger.ip_address }}</td>
							<td align="center">{{ logger.version }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<br/>

				{% endif %}
				{% endif %}

				<!-- Disks Table -->
				{% if disks %}
				<table class="FR sortable" cellspacing="0" caption="Disks">
					<thead>
						<tr><th colspan="7">Disks</th></tr>
						<tr>
							<th>#</th>
							<th>Path</th>
							<th>Status</th>
							<th>Last Error</th>
							<th>Chunks</th>
							<th>Used Space</th>
							<th>Total Space</th>
						</tr>
					</thead>
					<tbody>
						{% for disk in disks %}
						<tr class="C{{ loop.index % 2 + 1 }}">
							<td align="right">{{ loop.index }}</td>
							<td align="left">{{ disk.path }}</td>
							<td align="right">{{ disk.status }}</td>
							<td align="right">{{ disk.last_error }}</td>
							<td align="right">{{ disk.chunks }}</td>
							<td align="right">{{ disk.used_space | humanize_bytes }}</td>
							<td align="right">{{ disk.total_space | humanize_bytes }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<br/>
				{% endif %}


				<!-- Mounts Table -->
				{% if mounts %}
				<table class="FR sortable" cellspacing="0" caption="Connected Clients">
					<thead>
						<tr><th colspan="15">Connected Clients (Mounts)</th></tr>
						<tr>
							<th>#</th>
							<th>Session ID</th>
							<th>Host</th>
							<th>IP</th>
							<th>Version</th>
							<th>Mounted Path</th>
							<th>Root UID</th>
							<th>Root GID</th>
							<th>MapAll UID</th>
							<th>MapAll GID</th>
							<th>Min Goal</th>
							<th>Max Goal</th>
							<th>Min Trash Time</th>
							<th>Max Trash Time</th>
							<th>Mount Info</th>
						</tr>
					</thead>
					<tbody>
						{% for mount in mounts %}
						<tr class="C{{ loop.index % 2 + 1 }}" onclick="ToggleMountInfo('mount-info-{{ loop.index }}')" style="cursor: pointer;">
							<td align="right">{{ mount.id }}</td>
							<td align="right">{{ mount.session_id }}</td>
							<td align="left">{{ mount.hostname }}</td>
							<td align="center">{{ mount.ip_address }}</td>
							<td align="center">{{ mount.version }}</td>
							<td align="left">{{ mount.mounted_path }}</td>
							<td align="left">{{ mount.root_uid}}</td>
							<td align="left">{{ mount.root_gid }}</td>
							<td align="left">{{ mount.map_all_uid }}</td>
							<td align="left">{{ mount.map_all_gid }}</td>
							<td align="left">{{ mount.min_goal }}</td>
							<td align="left">{{ mount.max_goal }}</td>
							<td align="left">{{ mount.min_trash_time }}</td>
							<td align="left">{{ mount.max_trash_time }}</td>
							<td align="left">Click to view</td>
						</tr>
						<tr id="mount-info-{{ loop.index }}" style="display: none;">
							<td colspan="15">
								<div style="text-align: left; padding: 10px;">
									<hr>
									<pre style="white-space: pre-wrap; word-wrap: break-word;">{{ mount.mount_info }}</pre>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<br/>
				<table class="FR sortable" cellspacing="0" caption="Operations">
					<thead>
						<tr><th colspan="{{ 4 + op_names | length }}">Operations (current)</th></tr>
						<tr>
							<th>#</th>
							<th>Host</th>
							<th>IP</th>
							<th>Mounted Path</th>
							{% for op_name in op_names %}
							<th>{{ op_name }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for mount in mounts %}
						<tr class="C{{ loop.index % 2 + 1 }}">
							<td align="right">{{ mount.id }}</td>
							<td align="left">{{ mount.hostname }}</td>
							<td align="center">{{ mount.ip_address }}</td>
							<td align="left">{{ mount.mounted_path }}</td>
							{% for op_name in op_names %}
							<td align="right">{{ mount.current_op_stats[op_name] }}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<br/>

				<!-- Operations Table -->
				<table class="FR sortable" cellspacing="0" caption="Operations">
					<thead>
						<tr><th colspan="{{ 4 + op_names | length }}">Operations (last hour)</th></tr>
						<tr>
							<th>#</th>
							<th>Host</th>
							<th>IP</th>
							<th>Mounted Path</th>
							{% for op_name in op_names %}
							<th>{{ op_name }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for mount in mounts %}
						<tr class="C{{ loop.index % 2 + 1 }}">
							<td align="right">{{ mount.id }}</td>
							<td align="left">{{ mount.hostname }}</td>
							<td align="center">{{ mount.ip_address }}</td>
							<td align="left">{{ mount.mounted_path }}</td>
							{% for op_name in op_names %}
							<td align="right">{{ mount.last_hour_op_stats[op_name] }}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<br/>
				{% endif %}

				<!-- Exports Table -->
				{% if exports %}
				<table class="FR sortable" cellspacing="0" caption="Exports">
					<thead>
						<tr><th colspan="5">Exports</th></tr>
						<tr>
							<th>#</th>
							<th>IP From</th>
							<th>IP To</th>
							<th>Path</th>
							<th>Flags</th>
						</tr>
					</thead>
					<tbody>
						{% for export in exports %}
						<tr class="C{{ loop.index % 2 + 1 }}">
							<td align="right">{{ export.id }}</td>
							<td align="center">{{ export.ip_from }}</td>
							<td align="center">{{ export.ip_to }}</td>
							<td align="left">{{ export.path }}</td>
							<td align="left">{{ export.flags }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<br/>
				{% endif %}
				<!-- Goals table -->
				{% if goals %}
				<table class="FR" cellspacing="3" caption="Goals">
					<thead>
						<tr><th colspan="3">Goals</th></tr>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Definition</th>
						</tr>
					</thead>
					<tbody>
						{% for goal in goals %}
						<tr class="C{{ loop.index % 2 + 1 }}">
							<td align="center">{{goal.id}}</td>
							<td align="center">{{ goal.name }}</td>
							<td align="left">{{ goal.definition }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<br/>
				{% endif %}
			{% endif %}
			{% if 'MC' in active_sections %}
			<div class="chart-containers masterCharts" data-host="{{masterhost}}" data-port="{{masterport}}">
				<div class="chart-header">
							Master charts ({{masterhost}}:{{masterport}})
					<div class="arrow-down"></div>
				</div>
				<div class="chart-content">
				</div>
			</div>
			{% endif %}

			{% if 'CC' in active_sections %}
				{% for server in servers %}
				
				<div class="chart-containers chunkServerCharts"
					 data-host="{{server.ip_address}}" data-port="{{server.port}}">
					<div class="chart-header">
						Chunkserver {{server.hostname}} ({{server.ip_address}}:{{server.port}}) charts
						<div class="arrow-down"></div>
					</div>
					<div class="chart-content">
					</div>
				</div>
				{% endfor %}
			{% endif %}
		</div>
		<script src="/static/sfs-sort.js"></script>
		<script src="/static/charts.js" type="module"></script>
		<script src="/static/links.js"></script>
