<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SaunaFS Info ({{ mastername }})</title>
    <link href="/static/favicon.ico" rel="icon" sizes="any" />
    <link href="/static/favicon.svg" rel="icon" type="image/svg+xml" />
    <link rel="stylesheet" href="/static/sfs.css" type="text/css" />
</head>
<body>
    <div id="header">
        <table class="HDR" cellpadding="0" cellspacing="0" border="0" summary="Page header">
            <tr>
                <td class="LOGO"><a href="https://saunafs.com"><img src="/static/logomini.svg" alt="logo" style="border:0;width:110px;height:38px" /></a></td>
                <td class="MENU">
                    {# Menu logic would go here to show/hide sections #}
                </td>
                <td class="FILLER"></td>
            </tr>
        </table>
    </div>

    <div id="container">
        {% if error_message %}
            <h1 align="center">{{ error_message }}</h1>
            <h2 align="center">Please enter alternative master address:
                <input type="text" id="masterhost" value="sfsmaster" size="32" />
                <input type="number" id="masterport" size="6" value="9421" />
                <input type="button" value="Go" onclick="window.location='/sfs.cgi?masterhost=' + document.getElementById('masterhost').value + '&masterport=' + document.getElementById('masterport').value" />
            </h2>
        {% else %}
            <!-- Info Table -->
            {% if info %}
            <table class="FR" cellspacing="0" summary="Info table">
                <tr><th colspan="15">Info</th></tr>
                <tr>
                    <th>Version</th><th>RAM Used</th><th>Total Space</th><th>Avail Space</th>
                    <th>Trash Space</th><th>Trash Files</th><th>Reserved Space</th><th>Reserved Files</th>
                    <th>Total Objects</th><th>Directories</th><th>Files</th><th>Symlinks</th>
                    <th>Chunks</th><th>All Copies</th><th>Regular Copies</th>
                </tr>
                <tr>
                    <td align="center">{{ info.version }}</td>
                    <td align="right">{{ info.ram_used | humanize_bytes }}</td>
                    <td align="right">{{ info.total_space | humanize_bytes }}</td>
                    <td align="right">{{ info.avail_space | humanize_bytes }}</td>
                    <td align="right">{{ info.trash_space | humanize_bytes }}</td>
                    <td align="right">{{ info.trash_files }}</td>
                    <td align="right">{{ info.reserved_space | humanize_bytes }}</td>
                    <td align="right">{{ info.reserved_files }}</td>
                    <td align="right">{{ info.total_objects }}</td>
                    <td align="right">{{ info.directories }}</td>
                    <td align="right">{{ info.files }}</td>
                    <td align="right">{{ info.symlinks }}</td>
                    <td align="right">{{ info.chunks }}</td>
                    <td align="right">{{ info.all_copies }}</td>
                    <td align="right">{{ info.regular_copies }}</td>
                </tr>
            </table>
            <br/>
            {% endif %}

            <!-- Chunk Servers Table -->
            {% if servers %}
            <table class="FR" cellspacing="0" summary="Chunk Servers">
                <tr><th colspan="14">Chunk Servers</th></tr>
                <tr>
                    <th rowspan="2">#</th><th rowspan="2">Host</th><th rowspan="2">IP</th>
                    <th rowspan="2">Port</th><th rowspan="2">Version</th><th rowspan="2">Label</th>
                    <th colspan="4">'Regular' HDD Space</th><th colspan="4">'To Be Empty' HDD Space</th>
                </tr>
                <tr>
                    <th>Chunks</th><th>Used</th><th>Total</th><th class="PROGBAR">% Used</th>
                    <th>Chunks</th><th>Used</th><th>Total</th><th class="PROGBAR">% Used</th>
                </tr>
                {% for server in servers %}
                <tr class="C{{ loop.index % 2 + 1 }}">
                    {% if server.is_disconnected %}
                        <td align="right"><span class="DISCONNECTED">{{ server.id }}</span></td>
                        <td align="left" colspan="12"><span class="DISCONNECTED">{{ server.hostname }} is disconnected</span></td>
                    {% else %}
                        <td align="right">{{ server.id }}</td>
                        <td align="left">{{ server.hostname }}</td>
                        <td align="center">{{ server.ip_address }}</td>
                        <td align="center">{{ server.port }}</td>
                        <td align="center">{{ server.version }}</td>
                        <td class="LEFT">{{ server.label }}</td>
                        <td align="right">{{ server.chunks }}</td>
                        <td align="right">{{ server.used_space | humanize_bytes }}</td>
                        <td align="right">{{ server.total_space | humanize_bytes }}</td>
                        <td>
                            <div class="box">
                                <div class="progress" style="width:{{ (server.used_space / server.total_space * 200) if server.total_space > 0 else 0 }}px;"></div>
                                <div class="value">{{ "%.2f"|format((server.used_space / server.total_space * 100) if server.total_space > 0 else 0) }}</div>
                            </div>
                        </td>
                        <td align="right">{{ server.chunks_tobedeleted }}</td>
                        <td align="right">{{ server.used_space_tobedeleted | humanize_bytes }}</td>
                        <td align="right">{{ server.total_space_tobedeleted | humanize_bytes }}</td>
                        <td>
                             <div class="box">
                                <div class="progress" style="width:{{ (server.used_space_tobedeleted / server.total_space_tobedeleted * 200) if server.total_space_tobedeleted > 0 else 0 }}px;"></div>
                                <div class="value">{{ "%.2f"|format((server.used_space_tobedeleted / server.total_space_tobedeleted * 100) if server.total_space_tobedeleted > 0 else 0) }}</div>
                            </div>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            <br/>
            {% endif %}

            <!-- Disks Table -->
            {% if disks %}
            <table class="FR" cellspacing="0" summary="Disks">
                <tr><th colspan="7">Disks</th></tr>
                <tr>
                    <th>#</th><th>Path</th><th>Status</th><th>Last Error</th>
                    <th>Chunks</th><th>Used Space</th><th>Total Space</th>
                </tr>
                {% for disk in disks %}
                <tr class="C{{ loop.index % 2 + 1 }}">
                    <td align="right">{{ loop.index }}</td>
                    <td align="left">{{ disk.path }}</td>
                    <td align="right">{{ disk.status }}</td>
                    <td align="right">{{ disk.last_error }}</td>
                    <td align="right">{{ disk.chunks }}</td>
                    <td align="right">{{ disk.used_space | humanize_bytes }}</td>
                    <td align="right">{{ disk.total_space | humanize_bytes }}</td>
                </tr>
                {% endfor %}
            </table>
            <br/>
            {% endif %}

            <!-- Metaloggers Table -->
            {% if metaloggers %}
            <table class="FR" cellspacing="0" summary="Metadata Backup Loggers">
                <tr><th colspan="4">Metadata Backup Loggers</th></tr>
                <tr>
                    <th>#</th><th>Host</th><th>IP</th><th>Version</th>
                </tr>
                {% for logger in metaloggers %}
                <tr class="C{{ loop.index % 2 + 1 }}">
                    <td align="right">{{ logger.id }}</td>
                    <td align="left">{{ logger.hostname }}</td>
                    <td align="center">{{ logger.ip_address }}</td>
                    <td align="center">{{ logger.version }}</td>
                </tr>
                {% endfor %}
            </table>
            <br/>
            {% endif %}

            <!-- Mounts Table -->
            {% if mounts %}
            <table class="FR" cellspacing="0" summary="Connected Clients">
                <tr><th colspan="7">Connected Clients (Mounts)</th></tr>
                <tr>
                    <th>#</th><th>Session ID</th><th>Host</th><th>IP</th>
                    <th>Version</th><th>Mounted Path</th><th>Mount Info</th>
                </tr>
                {% for mount in mounts %}
                <tr class="C{{ loop.index % 2 + 1 }}">
                    <td align="right">{{ mount.id }}</td>
                    <td align="right">{{ mount.session_id }}</td>
                    <td align="left">{{ mount.hostname }}</td>
                    <td align="center">{{ mount.ip_address }}</td>
                    <td align="center">{{ mount.version }}</td>
                    <td align="left">{{ mount.mounted_path }}</td>
                    <td align="left">{{ mount.mount_info }}</td>
                </tr>
                {% endfor %}
            </table>
            <br/>
            {% endif %}

        {% endif %}
    </div>
</body>
</html>
